################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test/.vs/Test
/Test/bin/Debug/netcoreapp3.1
/Test/obj
